$primary-color: #ffd300;
$primary-color-hover: #e8c016;
$primary-color-border: #e8c016;
$success-color: #3aaf48;
$success-color-hover: #31983d;
$success-color-border: #5bd969;
$red-logo-color: #d8363a;
$iron-color: #5e5e60;
$iron-color-hover: #2f2f2f;
$iron-color-border: #b3b3b3;
$lead-color: #727272;
$gray-color: #bbbbbb;
$grey-color: #bbbbbb;
$disabled-color: #adb5bd;
$background-gray-1: #ebebeb;
$background-gray-2: #fafafa;
$header-color: #fff159;

// Effects
$awesome-box-shadow-1: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
$awesome-box-shadow-2: 0 5px 10px rgba(154, 160, 185, 0.05),
	0 15px 40px rgba(166, 173, 201, 0.2);
$awesome-box-shadow-3: 0 0.5rem 1.25rem 0 rgba(218, 224, 235, 0.6);
$border-radius-default: 10px;
